@charset "UTF-8";
.container {
  max-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    width: auto;
  }
}
body {
  margin: 0;
  font-family: "Circe";
}

main {
  overflow: hidden;
}

*::before,
*::after {
  box-sizing: border-box;
}

section {
  position: relative;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  text-align: center;
}

.j-c-between {
  justify-content: space-between;
}

.a-i-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  background: #fff;
}

a {
  cursor: pointer;
}

input {
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
}

.mb-0 {
  margin-bottom: 0;
}

.btn {
  border-radius: 30px;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-dark {
  background: #263057;
}

.btn-light {
  background: #6984f0;
}

.btn-white {
  width: 178px;
  height: 39px;
  border-radius: 60px;
  background: #fff;
  color: #263057;
  font-size: 18px;
}

@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/Circe-Light.eot");
  src: local("../assets/fonts/Circe Light"), local("Circe-Light"), url("../assets/fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Light.woff2") format("woff2"), url("../assets/fonts/Circe-Light.woff") format("woff"), url("../assets/fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/Circe-ExtraBold.eot");
  src: local("../assets/fonts/Circe Extra Bold"), local("../assets/fonts/Circe-ExtraBold"), url("../assets/fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Circe-ExtraBold.woff") format("woff"), url("../assets/fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/Circe-Thin.eot");
  src: local("../assets/fonts/Circe Thin"), local("../assets/fonts/Circe-Thin"), url("../assets/fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Thin.woff2") format("woff2"), url("../assets/fonts/Circe-Thin.woff") format("woff"), url("../assets/fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/Circe-Regular.eot");
  src: local("../assets/fonts/Circe"), local("../assets/fonts/Circe-Regular"), url("../assets/fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Regular.woff2") format("woff2"), url("../assets/fonts/Circe-Regular.woff") format("woff"), url("../assets/fonts/Circe-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/Circe-Bold.eot");
  src: local("../assets/fonts/Circe Bold"), local("../assets/fonts/Circe-Bold"), url("../assets/fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Circe-Bold.woff2") format("woff2"), url("../assets/fonts/Circe-Bold.woff") format("woff"), url("../assets/fonts/Circe-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.tel {
  width: 29px;
  height: 29px;
}

.title-section {
  font-size: 48px;
  color: #263057;
  padding: 50px 0 0;
  margin: 0 0 25px;
}

.badge {
  width: 44px;
  height: 16px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 12px !important;
  margin-top: -5px;
  font-weight: 700;
}

.slider-points {
  margin: 27px auto;
}
.slider-points ul {
  width: 100%;
  justify-content: center;
  padding: 0;
}
.slider-points ul li {
  list-style-type: none;
  width: 9px;
  height: 9px;
  background: rgba(38, 48, 87, 0.2);
  margin: 0 5px;
  border-radius: 50%;
}
.slider-points ul .active {
  background: #6984f0;
}

header {
  padding: 10px 0;
  font-size: 18px;
  color: #263057;
}
header .header-mobile {
  display: none;
}
header .logo {
  max-height: 95px;
}
header nav a {
  padding: 0 18px;
  font-weight: 400;
}
header .contacts p {
  margin: 0;
  margin-left: 3px;
}
header .contacts p:nth-child(1) {
  font-weight: 700;
  line-height: 20px;
}
header .contacts p:nth-child(2) {
  opacity: 0.5;
  letter-spacing: 2px;
  margin-top: -7px;
  font-size: 17px;
}
header .btn-dark {
  width: 148px;
  height: 34px;
}
header .btn-light {
  width: 171px;
  height: 34px;
}

.section1 {
  height: 530px;
  background: linear-gradient(136.49deg, #263057 25.34%, #1d1444 89.06%);
  display: flex;
}
.section1 .img-woman-tel {
  display: none;
}
.section1 .btn-light {
  width: 222px;
  height: 47px;
  font-size: 20px;
}
.section1 .white {
  height: 450px;
  border-radius: 15px;
  margin: 43px 0 0;
  position: relative;
}
.section1 .title {
  color: #263057;
  padding: 139px 62px;
}
.section1 .title h1 {
  margin: 0;
}
.section1 .title h1:nth-child(1) {
  font-size: 62px;
  margin-bottom: 0;
}
.section1 .title h1:nth-child(2) {
  font-size: 44px;
  margin-top: -20px;
}
.section1 .title button {
  margin-top: 27px;
  box-shadow: 10px 10px 28px rgba(105, 132, 240, 0.2);
}
.section1 .img-woman {
  position: absolute;
  right: 15px;
  top: 0;
}

.section2 {
  background: #e5e5e5;
}
.section2 .white {
  border-radius: 15px;
  padding: 30px 30px 25px;
}
.section2 .tariffs ul {
  color: #263057;
  width: 80%;
  margin: 0 auto;
}
.section2 .tariffs ul li {
  font-size: 20px;
  list-style-type: none;
}
.section2 .tariffs ul li.active {
  font-weight: 700;
  border-bottom: 2px solid #6984f0;
}
.section2 .badge {
  background: #6984f0;
}
.section2 .slider {
  margin: 50px 0 0;
  color: #263057;
}
.section2 .slider a {
  font-size: 18px;
}
.section2 .slider p {
  margin: 0;
  font-size: 18px;
}
.section2 .slider .speedText {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section2 .slider h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0;
}
.section2 .slider .active {
  background: linear-gradient(180deg, #273158 0%, #0c244d 100%);
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.45);
  color: #fff;
  padding: 25px 15px;
  border-radius: 30px;
}
.section2 .slider .popup {
  width: 14px;
  height: 14px;
}
.section2 .slider .hr {
  width: 100%;
  height: 1px;
  background: rgba(38, 48, 87, 0.2);
  margin: 10px 0;
}
.section2 .slider span {
  font-weight: 700;
  font-size: 30px;
}
.section2 .slider button {
  width: 191px;
  height: 35px;
  margin-top: 16px;
}
.section2 .slider .badge {
  background: #fff;
  font-size: 12px;
  color: #263057;
  margin-bottom: 10px;
}
.section2 .slider .speed {
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
.section2 .btn-all {
  width: 264px;
  height: 45px;
  font-size: 18px;
  margin: 0 auto;
  display: block;
}

.section3,
.section4,
.section5 {
  background: #e5e5e5;
  padding: 20px 0 0;
}
.section3 .form,
.section4 .form,
.section5 .form {
  border-radius: 15px;
  background: #263057;
  color: #fff;
  padding: 25px 60px 25px 80px;
}
.section3 .form h1,
.section4 .form h1,
.section5 .form h1 {
  font-size: 38px;
  margin: 0 0 15px;
}
.section3 .inputs input,
.section4 .inputs input,
.section5 .inputs input {
  width: 100%;
  border-radius: 5px;
  height: 46px;
  margin: 0 20px 0 0;
  font-size: 18px;
  padding: 0 25px;
  border: none;
}
.section3 .inputs input::-moz-placeholder, .section4 .inputs input::-moz-placeholder, .section5 .inputs input::-moz-placeholder {
  color: #263057;
}
.section3 .inputs input:-ms-input-placeholder, .section4 .inputs input:-ms-input-placeholder, .section5 .inputs input:-ms-input-placeholder {
  color: #263057;
}
.section3 .inputs input::placeholder,
.section4 .inputs input::placeholder,
.section5 .inputs input::placeholder {
  color: #263057;
}
.section3 input[type=checkbox],
.section4 input[type=checkbox],
.section5 input[type=checkbox] {
  display: none;
}
.section3 label,
.section4 label,
.section5 label {
  margin-top: -3px;
}
.section3 label:before,
.section4 label:before,
.section5 label:before {
  content: " ";
  color: #000;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
  width: 15px;
  height: 15px;
  background: #263057;
  border: 1px solid #fff;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 1px;
}
.section3 input:checked + label:before,
.section4 input:checked + label:before,
.section5 input:checked + label:before {
  content: "✓";
  font-size: 9px;
  color: #fff;
}
.section3 button,
.section4 button,
.section5 button {
  min-width: 223px;
  height: 46px;
  font-size: 18px;
}

.section4 .form {
  padding: 35px 60px 50px 50px;
}
.section4 .location {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.section4 .location-tel {
  display: none;
}

.section5 {
  padding: 20px 0 50px;
}
.section5 .form {
  min-height: 150px;
}

.section3 {
  padding: 50px 0 0;
}

.section6 h1 {
  margin-bottom: 37px;
}
.section6 img {
  border-radius: 10px;
}
.section6 .text {
  margin-left: 45px;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 400;
}
.section6 button {
  width: 250px;
  height: 48px;
  font-size: 18px;
  margin: 48px auto 64px;
  display: block;
}

.section7 {
  background: #e5e5e5;
  padding: 50px;
  color: #263057;
}
.section7 .slider-points {
  display: none;
}
.section7 .item {
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section7 .item p {
  margin: 0;
  font-size: 16px;
}
.section7 .item .date {
  font-weight: 700;
  margin: 25px 0 20px;
  font-size: 18px;
}
.section7 .item img {
  width: 318px;
}
.section7 .item a {
  color: #6984f0;
  margin-top: 25px;
}
.section7 .item a img {
  width: 11px;
}
.section7 .item:nth-child(2) {
  margin: 0 20px;
}

.section7 button,
.section8 button {
  width: 250px;
  height: 48px;
  font-size: 18px;
  display: block;
  margin: 40px auto;
}

.section8 img {
  width: 60px;
  height: 60px;
  margin-right: 17px;
}
.section8 .back {
  background: #e5e5e5;
  border-radius: 15px;
  padding: 45px 40px;
}
.section8 .item {
  min-width: 300px;
  max-width: 350px;
}

.section9 {
  padding: 20px 0 0;
  background: #e5e5e5;
}
.section9 .item {
  background: #fff;
  border-radius: 15px;
  width: 243px;
  height: 100px;
  justify-content: center;
}
.section9 .transform {
  transform: rotate(180deg);
}
.section9 .slider-points {
  margin: 35px 0 0;
  padding-bottom: 73px;
}

footer {
  background: #263057;
  color: #fff;
  font-size: 20px;
  padding: 100px 0 55px 0;
}
footer .btn-light {
  width: 206px;
  height: 39px;
  margin-right: 20px;
  font-size: 18px;
  margin-bottom: 24px;
}
footer ul {
  margin: 0;
  padding: 0;
  width: 60%;
  -moz-columns: 3;
       columns: 3;
}
footer ul li {
  list-style-type: none;
  cursor: pointer;
}
footer .w-100 {
  width: 100%;
}
footer span {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  line-height: 140%;
  margin-left: 2px;
}
footer .tel {
  margin-right: 10px;
  width: 15px;
  height: 25px;
}
footer .icons {
  margin-top: 14px;
}
footer .icons img {
  margin-right: 13px;
  cursor: pointer;
}
footer .contacts {
  margin: 0;
}
footer .info {
  width: 100%;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  font-weight: 300;
  margin-top: 90px;
}
footer .info p:nth-child(2) {
  width: 65%;
}
footer .info img {
  margin-right: 50px;
  margin-top: -15px;
}
footer .contacts-tel,
footer .icons-tel {
  display: none;
}

@media (max-width: 576px) {
  .container {
    overflow: hidden;
  }

  .header-full {
    display: none;
  }

  .header-mobile {
    display: flex !important;
  }
  .header-mobile .logo {
    width: 85px;
  }

  .section1 {
    height: auto !important;
  }
  .section1 .slider-points {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
  .section1 .slider-points .active {
    width: 27px;
    border-radius: 10px;
  }
  .section1 .white {
    width: 90vw;
    position: relative;
    height: 550px;
    margin: 20px 0 20px;
  }
  .section1 .img-woman {
    display: none;
  }
  .section1 .img-woman-tel {
    display: block;
    position: absolute;
    right: 15px;
    left: -10px;
    top: 28%;
    width: 350px;
  }
  .section1 .title {
    padding: 20px 0;
    text-align: center;
  }
  .section1 .title h1 {
    font-size: 40px !important;
    margin-top: 10px;
  }
  .section1 .title h1:nth-child(2) {
    font-size: 20px !important;
    margin-top: 0;
  }
  .section1 .title button {
    margin-top: 0;
  }

  .title-section {
    font-size: 25px;
  }

  .menu {
    border: none;
    outline: none;
    background: transparent;
  }

  .form {
    padding: 25px !important;
  }
  .form h1 {
    font-size: 20px !important;
  }

  .inputs {
    flex-direction: column;
  }
  .inputs input {
    margin: 15px auto !important;
    padding: 0 0 0 10px !important;
  }

  .section2 .tariffs ul {
    padding: 0;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
  }
  .section2 .tariffs ul li {
    font-size: 18px;
    margin-top: 15px;
  }
  .section2 .slider {
    margin-top: 15px;
  }
  .section2 .slider .item {
    margin-right: 20px;
    border: 1px solid #263057;
    border-radius: 15px;
    padding: 30px 10px;
  }
  .section2 .white {
    margin-left: -15px;
    width: calc(100vw - 60px);
  }

  .section4 .inputs {
    position: relative;
  }
  .section4 .inputs .loc {
    padding: 0 0 0 38px !important;
  }
  .section4 .location {
    display: none;
  }
  .section4 .location-tel {
    position: absolute;
    left: 10px;
    top: 23px;
  }

  .section5 .form {
    min-height: auto;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .section7 {
    padding: 0;
  }
  .section7 .slider-points {
    display: flex;
  }
  .section7 button {
    margin: 0 auto 40px;
  }

  .section6 .row {
    flex-direction: column;
  }
  .section6 .text {
    margin-left: 0;
  }
  .section6 button {
    margin: 20px auto 48px;
  }

  .section8 .back {
    flex-direction: column;
  }

  .section9 .item {
    display: none;
  }
  .section9 .active {
    display: flex;
  }

  footer {
    padding-top: 24px;
  }
  footer .row {
    flex-direction: column-reverse;
  }
  footer ul {
    margin-top: 20px;
    width: 100%;
    -moz-columns: 1;
         columns: 1;
    text-align: center;
  }
  footer ul li {
    margin-top: 15px;
    font-weight: 400;
  }
  footer .buttons button {
    width: 100%;
  }
  footer .contacts,
footer .icons {
    display: none;
  }
  footer .icons-tel,
footer .contacts-tel {
    display: flex;
    justify-content: center;
  }
  footer .icons-tel img,
footer .contacts-tel img {
    margin-right: 13px;
  }
  footer .info {
    flex-direction: column-reverse;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
  footer .info img {
    width: 120px;
    margin: 0 auto;
  }
  footer .info p:nth-child(2) {
    width: 100%;
  }
}