.btn {
    border-radius: 30px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-dark {
    background: $main;
}
.btn-light {
    background: $main-light;
}

.btn-white {
    width: 178px;
    height: 39px;
    border-radius: 60px;
    background: #fff;
    color: $main;
    font-size: 18px;
}
