body {
    margin: 0;
    font-family: "Circe";
}
main {
    overflow: hidden;
}

*::before,
*::after {
    box-sizing: border-box;
}

section {
    position: relative;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    text-align: center;
}

.j-c-between {
    justify-content: space-between;
}

.a-i-center {
    align-items: center;
}

.uppercase {
    text-transform: uppercase;
}

.white {
    background: #fff;
}

a {
    cursor: pointer;
}

input {
    outline: none;
    font-size: 18px;
    box-sizing: border-box;
}

.mb-0 {
    margin-bottom: 0;
}
